@import "../../node_modules/normalize.css/normalize.css";
@import "_mixins.less";

.grid {
  display: grid;
}

body {}

header {
  background-color: @white1;
  justify-content: center;
  .icon-menu {
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding-top: 30px;
    max-width: 1169px;
    .header-icon {
      padding: 15px;
    }
    nav {
      list-style-type: none;
      grid-template-columns: repeat(8, auto);
      a {
        font-family: montserrat-medium-piroll, sans-serif;
        font-size: 12px;
        line-height: 24px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: @black1;
        padding: 15px;
      }
    }
  }
}

.banner-container {
  background-color: @white1;
  height: 600px;
  align-items: center;
  .banner {
    justify-self: start;

    grid-template-columns: auto minmax(150px, 525px);
    max-width: 1169px;
    margin: 0 auto;
    h1 {
      grid-column-start: 2;
      font-family: montserrat-medium-piroll, sans-serif;
      font-size: 38px;
      line-height: 48px;
      font-weight: 500;
    }
    p {
      grid-column: 2;
      font-family: nunitosansregular-regular-piroll, sans-serif;
      font-size: 18px;
      line-height: 28px;
      margin: 32px 0;
      margin-right: 59px; //маргин\паддинг сжимают текст при уменьшении разрешения
    }
    button { // TODO: доделать кнопку.
      grid-column-start: 2;
      width: 180px;
      height: 54px;
      margin-top: 7px;
      text-transform: uppercase;
      font-family: montserrat-medium-piroll, sans-serif;
      font-size: 12px;
      line-height: 1;
      color: @white;
      background-color: @aqua;
      border: 0;
      padding: 0;
    }
  }
}

.aboutus {
  height: 420px;
  background-color: @white;
  justify-items: center;
  align-items: center;
  .container-aboutus {
    max-width: 1169px;
    justify-items: center;
    padding: 0 15px;
    h2 {
      font-family: montserrat-medium-piroll, sans-serif;
      font-size: 30px;
      line-height: 60px;
    }
    p {
      font-family: nunitosansregular-regular-piroll, sans-serif;
      font-size: 16px;
      line-height: 24px;
      max-width: 601px;
    }
  }
}
