@import "../../node_modules/normalize.css/normalize.css";
@import "_mixins.less";

.grid {
  display: grid;
}

body {}

.container {
  max-width: 1169px;
  margin: 0 auto;
}

header {
  background-size: cover;
  background-position: center;
  background-color: @white1;
  .icon-menu {
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding-top: 30px;
    .header-icon {
      padding: 14px;
    }
    nav {
      list-style-type: none;
      grid-template-columns: repeat(8, auto);
      a {
        font-family: montserrat-medium-piroll, sans-serif;
        font-size: 12px;
        line-height: 24px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: @black1;
        padding: 15px;
      }
    }
  }
  .header-about {
    grid-template-columns: auto minmax(150px, 525px);
    margin-top: 181px;
    margin-bottom: 201px; //маргин схлопнулся
    h1 {
      grid-column-start: 2;
      font-family: montserrat-medium-piroll, sans-serif;
      font-size: 38px;
      line-height: 48px;
      font-weight: 500;
    }
    p {
      grid-column: 2;
      font-family: nunitosansregular-regular-piroll, sans-serif;
      font-size: 18px;
      line-height: 28px;
      margin: 32px 0;
      margin-right: 59px; //маргин\паддинг сжимают текст при уменьшении разрешения
    }
    button {
      grid-column-start: 2;
      width: 180px;
      height: 54px;
      margin-top: 7px;
      text-transform: uppercase;
      font-family: montserrat-medium-piroll, sans-serif;
      font-size: 12px;
      line-height: 1;
      color: @white;
      background-color: @aqua;
      border: 0;
      padding: 0;
    }
  }
}
.aboutus {
  background-color: @white;
  justify-items: center;
  h2 {
    font-family: montserrat-medium-piroll, sans-serif;
    font-size: 30px;
    line-height: 60px;
  }
  p {
    font-family: nunitosansregular-regular-piroll, sans-serif;
    font-size: 16px;
    line-height: 24px;
    max-width: 601px;
    text-align: center;
  }
}
// TODO: доделать кнопку.
