@import "../../node_modules/normalize.css/normalize.css";
@import "_mixins.less";

.grid {
  display: grid;
}

header {
  background-color: @white1;
  .icon-menu {
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding-top: 30px;
    max-width: 1200px;
    margin: auto;
    .header-icon {
      padding: 15px;
    }
    nav {
      list-style-type: none;
      grid-template-columns: repeat(8, auto);
      a {
        font-family: montserrat-medium-piroll, sans-serif;
        font-size: 12px;
        line-height: 24px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: @black1;
        padding: 15px;
      }
    }
  }
  .banner-container {
    height: 591px;
    grid-template-columns: auto minmax(150px, 525px);
    max-width: 1200px;
    margin: 0 auto;
    align-content: center;
    padding: 0 15px;
    h1 {
      grid-column-start: 2;
      font-family: montserrat-medium-piroll, sans-serif;
      font-size: 38px;
      line-height: 48px;
      font-weight: 500; //Надо ли указывать? прописал же в миксинах, тест
    }
    p {
      grid-column-start: 2;
      font-family: nunitosansregular-regular-piroll, sans-serif;
      font-size: 18px;
      line-height: 28px;
      max-width: 482px;
    }
    button { // TODO: доделать кнопку.
      grid-column-start: 2;
      background-color: @aqua;
      font-family: montserrat-medium-piroll, sans-serif;
      font-size: 12px;
      line-height: 1;
      color: @white;
      text-transform: uppercase;
      width: 180px;
      height: 54px;
      margin-top: 7px;
    }
  }
}

.aboutus {
  background-color: @white;
  height: 420px;
  justify-items: center;
  align-items: center;
  .aboutus-container {
    max-width: 1200px;
    justify-items: center;
    padding: 0 15px;
    h2 {
      font-family: montserrat-medium-piroll, sans-serif;
      font-size: 30px;
      line-height: 60px;
    }
    p {
      font-family: nunitosansregular-regular-piroll, sans-serif;
      font-size: 16px;
      line-height: 24px;
      max-width: 601px;
    }
  }
}

.profskills {
  height: 570px;
  background-color: @white2;
  justify-items: center;
  .profskills-container {
    grid-template-columns: minmax(150px, 600px) minmax(150px, 600px);
    align-items: center;
    max-width: 1200px;
    .left {
      margin: 0 auto;
      grid-column-start: 1;
      grid-column-end: 2;
      h2 {
        padding: 0 15px;
        margin: 0;
        font-family: montserrat-medium-piroll, sans-serif;
        font-size: 30px;
        line-height: 30px;
      }
      ul {
        padding: 0 15px;
        list-style-type: none;
        text-transform: uppercase;
        font-family: montserrat-medium-piroll, sans-serif;
        font-size: 12px;
        line-height: 30px;
        span {
          margin-left: 12px;
        }
        li:nth-child(2n-1) {
          margin-top: 15px;
        }
      }
    }
    .right {
      grid-column-start: 2;
      grid-column-end: 3;
      background-image: url(../images/your_img_here.png);
      background-size: cover;
      overflow: hidden;
      .empty {}
    }
  }
}

.numbers {
  height: 240px;
  background-color: @aqua;
  align-content: center;
  justify-items: center;
  .numbers-container {
    max-width: 1200px;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: minmax(auto, 70px);
    .numcell {
      grid-template-columns: 60px minmax(70px, 230px);
      grid-template-rows: 30px 30px;
      color: @white;
      text-transform: uppercase;
      align-items: center;
      grid-column-gap: 15px;
      > * {
        margin: 0;
      }
      span {
        align-self: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        font-size: 48px;
        line-height: 30px;
        padding-left: 10px;
      }
      h3 {
        font-family: montserrat-medium-piroll, sans-serif;
        font-size: 18px;
        line-height: 30px;
      }
      p {
        font-family: montserrat-medium-piroll, sans-serif;
        font-size: 12px;
        line-height: 30px;
        max-width: 230px;
      }
    }
  }
}

.works {
  background-color: @white5;
  &-container {
    margin: 0 auto;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, 300px);
    .work {
      height: 300px;
      width: 300px;
      &:first-child,
      &:nth-child(3),
      &:nth-child(8) {
        background-color: @gray1;
      }
      &:nth-child(2),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(7) {
        background-color: @white4;
      }
      &:nth-child(6) {
        background-color: @black4;
        position: relative;
        span::before {
          position: absolute;
          z-index: -1;
          color: @white;
          top: 126px;
          left: 126px;
          font-size: 48px;
          line-height: 30px;
        }
        &:hover span::before {
          z-index: 1;
        }
      }
    }
    .loadmore {
      justify-self: center;
      align-content: center;
      height: 100px;
      grid-column: 1 e('/') 5; // больше адаптивности, меньше медиатегов
      a {
        font-size: 12px;
        text-transform: uppercase;
        padding: 41px;
        text-decoration: none;
        font-family: montserrat-medium-piroll, sans-serif;
        color: @gray4;
      }
    }
  }
}

.ourprocess {
  height: 930px;
  background-color: @white;
  justify-items: center;
  align-items: center;
  &-container {
    grid-template-columns: minmax(150px, 1004px); //из-за видео
    grid-template-rows: auto auto minmax(571px); //эти попытки
    justify-items: center;
    max-width: 1200px;
    h2 {
      font-family: montserrat-medium-piroll, sans-serif;
      font-size: 30px;
      line-height: 60px;
      color: @black1;
      margin-bottom: 16px;
      text-align: center;
    }
    p {
      font-family: nunitosansregular-regular-piroll, sans-serif;
      font-size: 16px;
      line-height: 24px;
      color: @gray;
      text-align: center;
      max-width: 494px;
      margin-bottom: 54px;
    }
    video {
      object-fit: fill;
    }
  }
}
